nav {
    background-color: #03256C;
    height: 110px;
}
body {
    font-family: 'chakra petch', sans-serif !important;
}
table{
    width: 80%;
    text-align: center;
}
td{
    padding-top:50px;
    border-bottom: 1px solid #000;
    font-weight: light;
}
.place{
    width: 80%;
    outline: 0;
    border-width: 0 0 1px;
    border-color: gray;
    text-align: center;
}
::webkit-place-placeholder {
    text-align: center;
}
:-moz-placeholder{
    text-align: center;
}
.search{
    outline: 0;
    border-width: 0 0 1px;
    border-color: gray;
    padding-right: 70px;
    left: 255px;
    top: 155px;
    position: relative;
}
.log {
    bottom: 5px;
    right:50px;
    color: #FFFFFF;
}
.log:hover{
    color:#FFFFFF;
}
.sidenav {
    margin-top:109px;
    height: 100%;
    width: 300px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #03256C;
    overflow-x: hidden;
  }
.sidenav a:hover{
    color: #FFFFFF;
  }
.txt {
    padding: 1px 1px 10px 70px;
    margin-top: -30px;
    top: 4px;
    font-size: 20px;
    position: relative;
    color: #FFFFFF; 
  }
.img {
    padding: 1px 1px 1px 20px;
    margin-top: 10px;
    top: 6px;
    position: relative;
  }
.active{
    position: relative;
    width: 100%;
    background: #003688;
}
.active::after{
    content: "";
    top: 0;
    right: 0px;
    width: 3%;
    height: 100%;
    position: absolute;
    background-color: #0677D6;
}
.title{
    left: 270px;
    top: 25px;
    font-size: 50px;
    position: absolute;
}
.borrowed-return-books{
    left: 280px;
    top: 165px;
    font-size: 20px;
    position: absolute;
}
#BarChart{
    left: 280px;
    top: 200px;
    max-width: 400px;
    position: absolute;
}
#PieChart{
    left: 750px;
    top: 200px;
    max-width: 400px;
    position: absolute;
}
.popular{
    left: 790px;
    top: 165px;
    font-size: 20px;
    position: absolute;
}
.Add{
    left: 255px;
    top: 155px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}
.tab{
    left: 280px;
    top: 200px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }