<template>
    <div id="app">
        <Navbar/>
            <Sidebar/>
        <router-view />
    </div>
</template>
<script>
import Navbar from './components/Navigations/Navbar';
import Sidebar from './components/Navigations/Sidebar';

export default {
  components: {
    Navbar,
    Sidebar
  }
  };
  </script>