<template>
        <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand"><img src="../../assets/images/Logo.png"></a>
            </div>
            <a href="" class="navbar navbar-nav navbar-right log">Logout</a>
        </div>
    </nav>
</template>
<script>
    export default {}
</script>

<style>
    @import '../../assets/css/style.css';
</style>