<template>
    <div class="sidenav">
        <router-link to="/" class="nav-link" :class="ROUTE== 'dash' ? 'active': ''"><img class="img" src="../../assets/images/Dashboard Logo.png"><p class="txt">Dashboard</p></router-link>
        
        <router-link to="/Patron" class="nav-link" :class="ROUTE == 'patron' ? 'active': ''"><img class="img" src="../../assets/images/Patron Management Logo.png"><p class="txt">Patron Management</p></router-link>
        
        <router-link to="/Book" class="nav-link" :class="ROUTE == 'book' ? 'active': ''"><img class="img" src="../../assets/images/Book Management Logo.png"><p class="txt">Book Management</p></router-link>
        
        <router-link to="/Settings" class="nav-link" :class="ROUTE == 'settings' ? 'active': ''"><img class="img" src="../../assets/images/Settings Logo.png"><p class="txt">Settings</p></router-link>
    </div>
</template>
<script>
    export default {
        computed: {
            ROUTE: function(){
                return this.$route.path
            }
        }
};
</script>