<template>
<div id="app">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-md-12">
              <h3 class="title">Book Management</h3>
          </div>
          <div class="col-lg-6">
              <a type="button" data-toggle="modal" data-target="#AddBook" @click="$bvModal.show('AddBook')" class="Add"><img src="../../../assets/images/plus.png">&nbsp;Add Book</a>                        
          </div>  
          <div class="cold-lg-6">
              <input type="text" placeholder="Search" class="search" autofocus>
          </div>
          <div class="table-responsive tab">
              <table>
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Author</th>
                      <th>Copies<br>Available</th>
                      <th>Category</th>
                      <th>Action</th>
                  </tr>
                </thead>
                  <tr class="font-weight-light" v-for="(book, i) in books" v-bind:key="i">
                      <td>{{ book.name }}</td>
                      <td>{{ book.author }}</td>
                      <td>{{ book.copies }}</td>
                      <td>{{ book.category }}</td>
                      <td>
                        <a type="button" @click.prevent="$bvModal.show('editModal'); id = i; data = {...book}"><img src="../../../assets/images/Edit.png"></a>
                        <a type="button" @click.prevent="$bvModal.show('deleteModal'); id = book.id;"><img src="../../../assets/images/Remove.png"> </a>
                        <a type="button" @click.prevent="$bvModal.show('borrowModal'); book_data.book_id = book.id; id = i;"><img src="../../../assets/images/Borrow.png"> </a>
                        <a type="button" @click.prevent="$bvModal.show('returnModal'); book_data.book_id = book.id; id = i;"><img src="../../../assets/images/Return.png"> </a>                         
                      </td>
                  </tr>
                </table>
            </div>
        </div>             
    </div>
</div>


<!--Modal-->
    <b-modal id="AddBook" title="Add Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="Name">Name</label>
          <input
            type="email"
            class="form-control"
            placeholder=""
            v-model="data.name"/>
        </div>
        <div class="form-group">
          <label for="Author">Author</label>
          <input
            type="text"
            class="form-control"
            placeholder=""
            v-model="data.author"/>
        </div>
           <div class="form-group">
          <label for="Copies">Copies</label>
          <input
            type="number"
            class="form-control"
            value="0"
            placeholder=""
            v-model="data.copies"/>
        </div>
          <div class="form-group">
          <label for="Category">-Category-</label>
          <input
            type="dropdown"
            class="form-control"
            placeholder=""
            v-model="data.category"/>
        </div>
      </form>
      <template #modal-footer="{ }">
        <b-button size="sm" variant="primary" @click.prevent="SaveBook()">Add Book</b-button>
      </template>
    </b-modal>

    <b-modal id="EditBook" title="Edit Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="Name">Name</label>
          <input
            type="email"
            class="form-control"
            placeholder=""
            v-model="data.name"/>
        </div>
        <div class="form-group">
          <label for="Author">Author</label>
          <input
            type="text"
            class="form-control"
            placeholder=""
            v-model="data.author"/>
        </div>
           <div class="form-group">
          <label for="Copies">Copies</label>
          <input
            type="number"
            class="form-control"
            value="0"
            placeholder=""
            v-model="data.copies"/>
        </div>
          <div class="form-group">
          <label for="Category">-Category-</label>
          <input
            type="dropdown"
            class="form-control"
            placeholder=""
            v-model="data.category"/>
        </div>
      </form>
      <template #modal-footer="{ }">
        <b-button size="sm" variant="primary" @click.prevent="bookUpdate()">Update Book</b-button>
      </template>
    </b-modal>
    
    <b-modal id="BorrowedBook" title="Borrow Book">
      <form class="pl-5 pr-5">
          <div class="form-group">
          <label for="Copies">Copies</label>
          <input
            type="number"
            class="form-control"
            placeholder=""
            v-model="book.copies"/>
        </div>
          <div class="form-group">
          <label for="customSelect">Select Patron</label>
          <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
            <option selected disabled>Please select a patron (optional)</option>
            <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer="{ }">
        <b-button size="sm" variant="primary" @click.prevent="borrowBook">Submit</b-button>
      </template>
    </b-modal>

    <b-modal id="ReturnedBook" title="Return Book">
      <form class="pl-5 pr-5">
          <div class="form-group">
          <label for="Copies">Copies</label>
          <input
            type="number"
            class="form-control"
            placeholder=""
            v-model="book.copies"/>
        </div>
          <div class="form-group">
          <label for="customSelect">Select Patron</label>
          <select id="customSelect" v-model="book_info.patron_id" name="patrons" class="custom-select">
            <option selected disabled>Please select a patron (optional)</option>
            <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer="{ }">
        <b-button size="sm" variant="primary" @click.prevent="returnBook">Submit</b-button>
      </template>
    </b-modal>
</div>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
export default {
  data(){
  return{
    data: {
      name: '',
      author: '',
      copies: 0,
      category: ''
    },
    book_data: {
      book_id: '',
      copies: '',
      patron_id: ''
    }
    modalId: '',
    id: ''
  }
},
  methods: {
    ...mapActions("books", ["getBooks", "deleteBook", "storeBook", "updateBook", "getCategories"]),
    ...mapActions("patrons", ["getPatrons"]),
    ...mapActions("borrowed", ["createBorrowed"]),
    ...mapActions("returned", ["createReturned"]),
    ...mapGetters("books", ["getBooksData"]),

    async borrowBook(){
      if(this.book_data.patron_id == ''){
        delete this.book_data.patron_id
      }
      const res = await this.createBorrowed({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.showSuccessToast('Book borrowed successfully!')
        this.$bvModal.hide(this.modalId)
      }
      else{
        this.showError(res.data)
      }
    },
    async returnBook(){
      if(this.book_data.patron_id == ''){
        delete this.book_data.patron_id
      }
      const res = await this.createReturned({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.showSuccessToast('Book returned successfully!')
        this.$bvModal.hide(this.modalId)
      }
      else{
        this.showError(res.data)
      }
    },
    async saveBook(){
      const res = await this.storeBook({...this.data})
      if(res.status == 200){
        this.$bvModal.hide(this.modalId);
        this.showSuccessToast('Book saved successfully!')
      }
      else{
        this.showError(res.data)
      } 
    },
    async bookDelete(){
      const res = await this.deleteBook(this.id);
      if(res.status !== 200)
       this.showError(res.data)
       
      this.$bvModal.hide('deleteModal');
    },
    async bookUpdate(){
      const res = await this.updateBook({index: this.id, data: this.data})
      if(res.status == 200){
        this.showSuccessToast('Book updated successfully!')
        this.$bvModal.hide('editModal')
      }
      else{
        this.showError(res.data)
      }
    },
    clearData(){
      this.book_data = {
        name: '', 
        author: '',
        copies: '',
        category_id: ''}
    },
  mounted() {
    document.title = "LiSys | Book Management"
    this.getBooks();
    this.getCategories();
    this.getPatrons();
  },
  computed: {
    ...mapState("books", ["books", "categories"]),
    ...mapState("patrons", ["patrons"])
  }
};
</script>