<template>
        <div id="app">       
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <h3 class="title">Dashboard</h3>
                        </div>
                        <div class="col-lg-12">
                            <h4 class="borrowed-return-books">Borrowed, Return Books</h4>
                        </div>
                        <div class="col-md-12">
                            <canvas id="BarChart"></canvas>
                        </div>
                        <div class="col-lg-12">
                            <h4 class="popular">Popular Genre</h4>
                        </div>
                        <div class="col-md-12">
                            <canvas id="PieChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
</template>
<script>

import Chart from 'chart.js';
  export default{
  mounted: function() {
    document.title = "LiSys | Dashboard"

    var Bchart = document.getElementById('BarChart').getContext('2d');
    new Chart(Bchart, {
    type: 'bar',
    data: {
        labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
        datasets: [
            {
                label: 'Borrowed Books',
                data: [10, 10, 12, 9, 13],
                backgroundColor: '#4C57F3',
            },
            {
                label: 'Returned Books',
                data: [7, 11, 9, 10, 10],
                backgroundColor: '#4CA0F3',
            },
        ],
    },
    options: {
        responsive: true,
        legend: {
            position: 'top',
        }
    },
});

    var Pchart = document.getElementById('PieChart').getContext('2d');
    new Chart(Pchart, {
    type: 'pie',
    data: {
        labels: ['Programming', 'Fiction', 'Horror', 'Novel', 'Romance'],
        datasets: [
            {
                label: 'Borrowed Books',
                data: [20, 30, 10, 20, 20],
                backgroundColor: ['#4C57F3', '#0011FF', '#03256C', '#136EC8', '#4CA0F3']
            },
        ],
    },
    options: {
        responsive: true,
        legend: {
            position: 'top',
        }
    },
});
  }
}

</script>
