<template>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
              <h3 class="title">Settings</h3>
            </div>
        </div>
    </div>    
</div>
</template>

<script>
export default {
  mounted() {
    document.title = "LiSys |  Settings"
  }
};
</script>