.Bg{
	background-color: #222223;
}
.OrangeBg{
	height: 23px;
	background: #E77D00;
}
.Message{
	text-align:center;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 5px;
	color: #FFFFFF;
}
.logo{
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 55px;
	color: #FFFFFF;
}
.Home {
	font-family: century gothic;
	font-style: sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 45px;
	color: Orange;
}
.options {
	font-family: century gothic;
	font-style: sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 45px;
	color: #FFFFFF;
}
.image{
	width:970px;
	height:580px;
	left:93px;
	top:120px;
	background: rgba(0,0,0,2);
}
.shape{
	width:535px;
	height:580px;
	top:115px;
}
.txt{
	position: relative;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	top: -500px;
	left: 590px;
	color: #FFFFFF;
}
.learnmore{
	border: 2px solid black;
	border-color: white;
	color:white;
	background-color: transparent;
	font-family:century gothic;
	position: relative;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	top: -500px;
	left: 600px;
}
.image1{
	position:relative;	
	width:380px;
	height:350px;
	right:487px;
	background: rgba(0,0,0,2);
}
.image2{
	position:relative;	
	width:380px;
	height:350px;
	left:-220px;
	background: rgba(0,0,0,2);
}
.image3{
	position:relative;	
	width:380px;
	height:350px;
	left:58px;
	background: rgba(0,0,0,2);
}
.hr{
	border-top: 5px dashed white;
	width: 20px;
}
.txt1{
	text-align:center;
	font-family: century gothic;
	font-size: 30px;
	color:white;
}
.header{
	text-align:center;
	font-weight: bold;
	font-size: 50px;
	color:white;
}
.men{
	position:relative;
	width:970px;
	height:480px;
	left:90px;
	top:30px;
	background: rgba(0,0,0,2);
}
.ment{
	position:relative;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	top: -280px;
	left: 500px;
	color: #FFFFFF;
}
.mtrainers{
	position:relative;
	font-family:century gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	top: -320px;
	left: 600px;
	color: #FFFFFF;
}
.mshowmore{
	border: 2px solid black;
	border-color: white;
	color:white;
	background-color: transparent;
	font-family:century gothic;
	position: relative;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	top: -300px;
	left: 540px;
}
.women{
	position:relative;
	width:970px;
	height:430px;
	left:90px;
	top:30px;
	background: rgba(0,0,0,2);
}
.went{
	position:relative;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	top: -240px;
	left: 430px;
	color: #FFFFFF;
}
.wtrainers{
	position:relative;
	font-family:century gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	top: -278px;
	left: 600px;
	color: #FFFFFF;
}
.wshowmore{
	border: 2px solid black;
	border-color: white;
	color:white;
	background-color: transparent;
	font-family:century gothic;
	position: relative;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	top: -270px;
	left: 510px;
}
.rizal{
	position:relative;
	width: 50px;
	height: 50px;
	top: -20px;
	left: 960px;
}
.pinoy{
	position: relative;
	color:white; 
	font-size: 45px; 
	top: 20px;
	left: -500px;
}
.flag{
	position: relative;
	height: 65px;
	width: 65px;
	top: 30px;
}
.member{
	position:relative;
	color:white;
	font-size: 40px;
	top: 34px;
}
.find{
	position:relative;
	color:white;
	font-size: 40px;
	top: 34px;
}
.sub{
	position:relative;
	color:white;
	font-size: 40px;
	top: 34px;
}
.F{
	font-family: century gothic;
	position:relative;
	color:white;
	font-size: 25px;
	top: 34px;
}
.twit{
	position:relative;
	width: 50px;
	height: 50px;
	top: 30px;
}
.fb{
	position:relative;
	width: 50px;
	height: 50px;
	top: 30px;
}
.you{
	position:relative;
	width: 50px;
	height: 50px;
	top: 30px;
}
.email{
	position:relative;
	font-family:century gothic;
	font-size: 23px;
	color:white;
	top: 41px;
	left: 100px;
}