<template>
<div id="app">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <h3 class="title">Patron Management</h3>
                </div>
                <div class="col-lg-6">
                    <a type="button" data-toggle="modal" data-target="#AddPatronModal" @click="$bvModal.show('AddPatronModal')" class="Add"><img src="../../../assets/images/plus.png">&nbsp;Add Patron</a>                        
                </div>  
                <div class="cold-lg-6">
                    <input type="text" placeholder="Search" class="search" autofocus>
                </div>
                    <div class="table-responsive tab">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Date Registered</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                                <tr class="font-weight-light" v-for="(patron, index) in patrons" v-bind:key="index">
                                    <td>{{ patron.first_name + " " + patron.middle_name + " " + patron.last_name }}</td>
                                    <td>{{ patron.email }} </td>
                                    <td>{{ patron.created_at }}</td>
                                    <td>
                                        <a type="button" v-on:click="showEditModal(patron, index)"><img src="../../../assets/images/Edit.png"></a>
                                        <a type="button" v-on:click="showDeleteConfirm(patron.id)"><img src="../../../assets/images/Remove.png"></a>
                                    </td>
                                </tr>              
                            </table>
                        </div>
                    </div>             
                </div>
            </div>

<!--Modal-->
    <b-modal id="AddPatronModal" title="Add Patron">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="First name">First Name</label>
          <input
            type="text"
            class="form-control"
            id="FName"
            placeholder=""
            v-model="patron.first_name"/>
        </div>
        <div class="form-group">
          <label for="Last name">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="LName"
            placeholder=""
            v-model="patron.last_name"/>
        </div>
        <div class="form-group">
          <label for="Middle Initial">Middle Initial</label>
          <input
            type="text"
            class="form-control pl-3"
            id="MName"
            placeholder=""
            v-model="patron.middle_name"/>
        </div>
        <div class="form-group">
          <label for="Email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="Email"
            placeholder=""
            v-model="patron.email"/>
        </div>
        </form>
            <template #modal-footer="{  }">
            <b-button size="sm" variant="primary" @click.prevent="savePatron()">Add Patron</b-button>
            </template>
    </b-modal>

    <b-modal id="EditPatronModal" title="Edit Patron">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="First name">First Name</label>
          <input
            type="text"
            class="form-control"
            id="FName"
            placeholder=""
            v-model="patron.first_name"/>
        </div>
        <div class="form-group">
          <label for="Last name">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="LName"
            placeholder=""
            v-model="patron.last_name"/>
        </div>
        <div class="form-group">
          <label for="Middle Initial">Middle Initial</label>
          <input
            type="text"
            class="form-control pl-3"
            id="MName"
            placeholder=""
            v-model="patron.middle_name"/>
        </div>
        <div class="form-group">
          <label for="Email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="Email"
            placeholder=""
            v-model="patron.email"/>
        </div>
      </form>
      <template #modal-footer="{  }">
        <b-button size="sm" variant="primary" @click.prevent="patronUpdate()">Update Patron</b-button>
      </template>
    </b-modal>
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
export default {
    data(){
        return{
            patronIndex: '',
            patron: {
                first_name: '',
                last_name: '',
                middle_name: '',
                email: '',
                created_at: new Date().toJSON().slice(0, 10).replace(/-/g, '/')
            }
        }
    },
    methods: {
        
        ...mapActions('patrons', ['getPatrons', 'storePatron', 'deletePatron', 'updatePatron']),
        ...mapGetters('patrons', ['getPatronData']),
        
        showEditModal(patron, index){
            this.patron = {...patron}
            this.patronIndex = index
            this.$bvModal.show("EditPatronModal")
        },
        showDeleteConfirm(index) {
            var x = confirm('Are you sure you want to delete this patron?')
            if (x == true) {
                this.PatronIndex = index;
                this.patronDelete()
            }
        },
        async savePatron(){
            const res = await this.storePatron(this.patron)
            if(res.status == 200){
            this.$bvModal.hide('addPatronModal');
            this.clearFields()
            this.$toast.success('Patron saved successfully!')
            
         }
        else {    
            this.$toast.error(res.data)
        }
        },
        async patronDelete() {
            const res = await this.deletePatron(this.PatronIndex)
            if(res.status == 200){
            this.$toast.success('Patron deleted successfully')
        }
        else {
            this.$toast.error(res.data)
        }
        },
        async patronUpdate(){
            const res = await this.updatePatron({data: this.patron, index: this.PatronIndex})
            if(res.status == 200){
            this.$bvModal.hide('EditPatronModal')
            this.$toast.success('Patron updated successfully!')
        }
        else {
            this.$toast.error(res.data)
        }
        },
        clearFields() {
            this.patron.first_name = "";
            this.patron.middle_name = "";
            this.patron.last_name = "";
            this.patron.email = "";
        },
        showError(data){
            for (const key of Object.keys(data)) {
            this.$toast.error(data[key][0]); 
      }
    }
    },
        
    mounted() {
        this.getPatrons()
        document.title = "LiSys | Patron Management"
    },
    computed: {
        ...mapState('patrons', ['patrons'])
    }
  
};
</script>